body {
    /* background-color: blueviolet; */
    background-image: url(MYPROJECTS.jpg);
    /* background-color: #1c1f2b; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    color: #fff;
    ;
}

/* h2{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    width: fit-content;
    padding-right: 35px;
} */
a {
    color: #fff;
}

.form {
    margin: auto;
    width: 300px;
    height: 450px;
    /* background: linear-gradient(to top,rgba(0, 0, 0, 0.8) 50%,rgba(0,0,0,0.8)50%); */
    background: #1c1f2b;
    /* background-image: conic-gradient(red,blue,green,white,black,violet); */
    /* backdrop-filter: blur(3px); */
    /* border-color: #fff; */
    /* top: -20px; */
    /* left: 870px; */
    text-align: center;
    border-radius: 50px;
    padding-top: 25px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.form::after,
.form::before {
    /* --angle : 0 deg; */
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: red; */
    background-image: conic-gradient(from var(--angle), transparent, red, green, red, green, red, green, red, green, red, green, red, green);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 50px;
    animation: 3s spin linear infinite;
}

.form::before {
    filter: blur(5.5em);
    /* opacity: 0.9; */
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.titles:hover {
    color: chartreuse;
    background-color: black;
}
#img{
    position: absolute;
    /* size: 10px 10px; */
        width: 30px;
        border-radius: 10px;
        border-bottom-right-radius: -15px;
        border-bottom-left-radius: -15px;
}